/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

/* Estilo del thumb (la parte arrastrable) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 6px; /* Borde redondeado del thumb */
}

/* Estilo de la pista (la parte no arrastrable) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de la pista */
}



.titulo-post {
  text-align: center;
}

.div-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.divPosts {
  background-color: #8F7261;
  border: 1rem;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  width: 350px;
  height: 400px;
  position: relative;
  overflow: auto;
  
}

.botonPost {
  padding: 10px 20px;
  background-color: #8F7261;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.boton-comments{
  padding: 8px 16px;
  background-color: #F3E9EC;
  color: black;
}

